body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

.app {
  text-align: center;
  padding: 20px;
}

.searchBar {
  padding: 12px;
  width: 70%;
  max-width: 500px;
  margin-bottom: 25px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
